/* General */

* {
	box-sizing: border-box;
  }

body {
	margin: 0;
	padding: 0;
	font-family: 'Baloo 2', cursive;
	font-weight: 300;
	background: #c7fad8;
}

h1 {
    text-align: center;
    color: rgb(143, 109, 187);
    margin-top: 10px;
    margin-bottom: 2px;
}

h2 {
	margin: auto;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 75%;
	margin: auto;
	border: 3px solid black;
	background: #fce279;
}

#welcome {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: column;
    width: 75%;
    height: 75%;
	margin: auto;
	margin-top: 50%;
    background-color: #f2ebf2;
	box-shadow: 10px 5px #545354;
	text-align: center;
	padding: 10%;
}

.btn, button {
	background-color: rgb(144, 207, 242);
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
  }

.btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


/* Timer and Score */
#counters-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.counters {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

/* Game Container */
.mask {
	display: none;
}
.game-container {
	width: 600px;
	margin: 30px auto;
	padding: 0%;
	background: url(assets/yellow.png);
	background-position: center;
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.all-boxes {
	width: 100%;
	height: 100%;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.box {
	width: 200px;
	height: 200px;
	
	float: left;
	position: relative;
	overflow: hidden;
}

.virus-pic {
	width: 80px;
	position: absolute;
	left: 50px;
	bottom: -95px;
    transition: bottom 0.5s ease;
    
	width: 150px;
}

.virus-pic.up {
	bottom: 0;
}

.cough-pic {
	position: absolute;
	bottom: 0;
	left: 0;
    z-index: 9999;
   
	width: 100px;
}

.mask {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background-color: white;
	z-index: 5000;
}